.header-image {
  height: 200px;
  display: block;
}

.header-menu {
  display: flex;
  list-style: none;
  height: 60px;
  padding-left: 0;
  margin: 0 10px 0 auto;
  width: 500px;
  text-align: center;
  background-color: rgb(223, 91, 91);
}
.header-menu-item {
  padding-top: 18px;
  width: 100px;
}
.header-menu-link {
  text-decoration: none;
  color: rgb(72, 166, 238);
}
.header {
  display: flex;
  padding-left: 10px;
  border-bottom: 1px solid lightgray;
}

body {
  max-width: 0;
}
